
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.inside {
    font-family: 'Roboto Condensed', sans-serif;

    font-size:30px;
}

.data {
    font-size:13px;
    color:grey;
}
.dropdown-menu {
	border-color: #8aa4af;
	border-width: 2px;
}
.content-wrapper {
	background-color: #fff;
}
.dropdown-menu .menu h3 small {
	font-size: 1.0em;
}